/* font */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color-white: #fff;
  --color-light-1: #c0ddd8;
  --color-light-2: #97c6be;
  --color-light-3: #58a397;
  --color-light-4: #2e8c7d;
  --primary-color-light: #eaf4f2;
  --primary-color-dark: #17463f;
  --primary-color-medium: #257064;
}

/* body {
  background-color: blue;
} */

html {
  font-family: "Open Sans", sans-serif;
}

/* FIRST SECTION */
nav {
  /* border: 2px solid red; */
  height: 7rem;
  background-color: var(--color-white);
}

ul {
  /* border: 2px solid brown; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}

.logo {
  flex: 6;
  padding: 0 0 0 2rem;
  font-weight: 500;
}

.nav-links {
  /* border: 2px solid burlywood; */
  display: flex;
  justify-content: space-around;
  flex: 4;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color-dark);
  font-weight: 500;
}
.intro {
  height: 60vh;
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.intro-right {
  /* border: 2px solid pink; */
  flex: 3;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.intro-left img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-right: 5px solid var(--primary-color-medium);
  border-top: 5px solid var(--primary-color-medium);
}

.intro-right h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 6rem;
  color: var(--primary-color-dark);
}

.intro-subheading h3 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 3rem;
}

.intro-subheading span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 4px solid var(--color-light-4);
  color: var(--color-light-4);
}
/* END OF FIRST SECTION */

/* START OF MOTTO SECTION */
.motto {
  padding: 6rem;
  height: 40vh;
  /* border: 2px solid magenta; */
  background-color: var(--primary-color-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.motto p {
  color: var(--color-light-1);
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.7;
}

/* END OF MOTTO SECTION */
/* START OF TECH SECTION */
#tech-stack {
  height: 40vh;
  /* border: 2px solid lime; */
  background-color: var(--primary-color-light);
}

.section-sub {
  text-align: center;
  color: var(--primary-color-dark);
  font-size: 4rem;
  font-family: "Open Sans";
  padding-top: 2rem;
}

.line-divider {
  width: 10rem;
  height: 3px;
  background-color: var(--color-light-3);
  margin: 0 auto;
}

.tech-list {
  width: 100%;
  height: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 2rem; */
}

.tech-item {
  width: 30%;
  height: 50%;
  /* flex: 1; */
  border: 2px solid var(--color-light-2);
  border-radius: 5px;
  background-color: var(--color-white);
}

.tech-item article {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  color: var(--primary-color-medium);
}

.tech-title {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color-medium);
}
/* END OF TECH SECTION */
/* START OF HOBBIES SECTION */
#hobbies {
  /* border: 2px solid brown; */
}

.hobbies-list {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--color-light-3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 6rem 0;
}

.hobby {
  border-radius: 5px;
  width: 60%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-white);
}

.hobby-image img {
  width: 100%;
}

.hobby-title h4 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.hobby-desc p {
  text-align: center;
  font-size: 1.7rem;
}

.fa-solid {
  color: var(--primary-color-medium);
}
/* END OF HOBBIES SECTION */
/* START OF FOOTER SECTION */
footer {
  height: 10rem;
  background-color: #eaf4f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.7rem;
}
/* END OF FOOTER SECTION */
