* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color-white: #fff;
  --color-light-1: #c0ddd8;
  --color-light-2: #97c6be;
  --color-light-3: #58a397;
  --color-light-4: #2e8c7d;
  --primary-color-light: #eaf4f2;
  --primary-color-dark: #17463f;
  --primary-color-medium: #257064;
  --box-s: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

html {
  font-family: "Open Sans", sans-serif;
}

/* FIRST SECTION */
nav {
  /* border: 2px solid red; */
  height: 7rem;
  background-color: var(--color-white);
}

ul {
  /* border: 2px solid brown; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}

.logo {
  flex: 6;
  padding: 0 0 0 2rem;
  font-weight: 200;
  opacity: 0.5;
  letter-spacing: 2px;
}

.nav-links {
  /* border: 2px solid burlywood; */
  display: flex;
  justify-content: space-around;
  flex: 5;
}

.nav-links li a {
  text-decoration: none;
  color: var(--primary-color-dark);
  font-weight: 500;
  position: relative;
}

.nav-links li a:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 4px;
  width: 0%;
  background-color: var(--color-light-3);
  transform: translateY(40px);
  transition: all 1s;
}

.nav-links li a:hover:before {
  width: 100%;
  transform: translateX(0);
  transform: translateY(40px);
}

.intro {
  height: 50vh;
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.intro-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.intro-left img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-right: 5px solid var(--primary-color-medium);
  border-top: 5px solid var(--primary-color-medium);
}

.intro-right .intro-heading h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 4rem;
  color: var(--primary-color-dark);
}

.intro-subheading h3 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 3rem;
}

.intro-subheading span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 2px solid var(--color-light-3);
  color: var(--color-light-4);
}

/* END OF FIRST SECTION */

/* START OF MOTTO SECTION */
.motto {
  padding: 6rem;
  height: 28vh;
  /* border: 2px solid magenta; */
  background-color: var(--primary-color-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}
.motto p {
  color: var(--color-light-1);
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2;
}

/* END OF MOTTO SECTION */
/* START OF TECH SECTION */
#tech-stack {
  height: 40vh;
  /* border: 2px solid lime; */
  background-color: var(--primary-color-light);
}

.section-sub {
  text-align: center;
  color: var(--primary-color-dark);
  font-size: 4rem;
  font-family: "Open Sans";
  padding-top: 2rem;
}

.line-divider {
  width: 10rem;
  height: 3px;
  background-color: var(--color-light-3);
  margin: 0 auto;
}

.tech-list {
  width: 100%;
  height: 80%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 2rem; */
}

.tech-item {
  width: 30%;
  height: 50%;
  /* flex: 1; */
  border: 2px solid var(--color-light-2);
  border-radius: 5px;
  background-color: var(--color-white);
}

.tech-item:hover {
  box-shadow: var(--box-s);
  scale: 1.1;
  transition: all 1s;
}

.tech-item article {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-item:nth-child(1):hover {
  .fa-html5 {
    color: orange;
  }
  .tech-title h3 {
    color: orange;
  }
}
.tech-item:nth-child(2):hover {
  .fa-css3-alt {
    color: blue;
  }
  .tech-title h3 {
    color: blue;
  }
}
.tech-item:nth-child(3):hover {
  .fa-js {
    color: yellow;
    background-color: black;
  }
  .tech-title h3 {
    color: black;
  }
}

.fa-brands {
  color: var(--primary-color-medium);
}

.tech-title {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color-medium);
}

/* END OF TECH SECTION */
/* START OF HOBBIES SECTION */

.hobbies-list {
  width: 100%;
  margin-top: 2rem;
  background-color: var(--color-light-3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 6rem 0;
}

.hobby {
  border-radius: 5px;
  width: 60%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-white);
}

.hobby:hover {
  box-shadow: var(--box-s);
  scale: 1.1;
  .hobby-image img {
    opacity: 1;
  }
  transition: all 1s;
}

.hobby-image img {
  width: 100%;
  opacity: 0.5;
}

.hobby-title h4 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.hobby-desc p {
  text-align: center;
  font-size: 1.7rem;
}

.fa-solid {
  color: var(--primary-color-medium);
}

/* END OF HOBBIES SECTION */
/* START OF FOOTER SECTION */
footer {
  height: 10rem;
  background-color: #eaf4f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.7rem;
}
/* END OF FOOTER SECTION */

/* =========== START OF MEDIA QUERY SECTION =============== */

/* INTRO */
@media screen and (min-width: 1000px) {
  nav li {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    height: 50vh;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    height: 80vh;
  }
  .intro-right .intro-heading h1 {
    font-size: 4rem;
  }
}

/* MOTTO SECTION */

@media screen and (max-width: 767px) {
  .motto {
    padding: 2.5rem;
    height: 40vh;
  }

  .motto p {
    font-size: 1.25rem;
    line-height: 2;
  }
}
@media screen and (min-width: 1000px) {
  .motto {
    padding: 2rem;
    height: 36vh;
  }
}

@media screen and (min-width: 1000px) {
  .motto p {
    font-size: 2rem;
    line-height: 2;
    max-width: 800px;
  }
}

/* TECH STACK */

@media screen and (min-width: 1000px) {
  #tech-stack {
    height: 80vh;
  }
}

/* TECH ITEM */

@media screen and (min-width: 768px) {
  .tech-item {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .tech-item {
    width: 28%;
  }
}

/* HOBBIES LIST */

@media screen and (min-width: 768px) {
  .hobbies-list {
    padding: 2.5rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  .hobbies-list {
    flex-direction: row;
    align-items: stretch;
    padding: 4rem;
    gap: 4rem;
  }
}

/* HOBBY */

@media screen and (min-width: 768px) {
  .hobby {
    width: 50%;
    height: 26rem;
    padding: 1rem;
  }
  .hobby-title h4 {
    font-size: 2rem;
  }

  .hobby-desc p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1000px) {
  .hobby {
    width: 50%;
    height: 26rem;
    padding: 1rem;
  }
  .hobby-title h4 {
    font-size: 2rem;
  }

  .hobby-desc p {
    font-size: 1.25rem;
  }
}
